:root {
    font-size: 12px;
}

@media (min-width: 375px) {
    :root {
        font-size: 13px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    :root {
        font-size: 16px;
    }
}
