:root {
    font-size: 12px;
}

@media (min-width: 375px) {
    :root {
        
        font-size: 13px;
        margin-top: 45px;
    }

    h1{
        font-size: 5px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 1024px) {
    :root {
        font-size: 16px;
    }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 1025px) {
    :root {
        font-size: 22px;
    }
}

@media (min-width: 1005px) {
    :root {
        font-size: 19px;
    }
}

@media (min-width: 996px) {
    :root {
        font-size: 19px;
    }
}

