:root {
    font-size: 12px;
}

@media (min-width: 375px) {
    :root {
        
        font-size: 13px;
    }

    h1{
        font-size: 5px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 1024px) {
    :root {
        font-size: 17px;
    }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 1025px) {
    :root {
        font-size: 25px;
    }
}
