/* début du css nous contacter  */

iframe {
    width: 100%;
}

.coord {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.coord1 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coord1 li {
    list-style: none;
}

.coord p {
    color: #534F48;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.schedule {
    display: flex;
    align-content: center;
    justify-content: center;
}

.schedule p {
    color: #534F48;
    font-size: 20px;
    margin-top: 30px;
}
/* fin du css de nous contacter */
/* DEBUT GALERY */
.categorysecond{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.column {
	margin: 15px 25px 0 25px;
	padding: 0;
}
.column:last-child {
	padding-bottom: 60px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	width: 500px;
	height: 350px;
	margin: 0 0 0 35px;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
.zoom div {
	width: 350px;
	height: 350px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.zoom div img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.zoom div:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.categorysecond img{
    height: 310px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#galery h2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    color: #CEA068;

}
/* fin galery */
/* Début plat */
.plat ul {
    font-family: 'Arial, Helvetica', sans-serif;
    list-style-type: none;
    font-size: 22px;
}

.plat span {
    text-decoration: underline;
}

.plat h2 {
    font-family: 'Arial, Helvetica', sans-serif;
    color: #CEA068;
    font-size: 70px;
}

.plat h3 {
    font-family: 'Italianno', cursive;
    color: #CEA068;
    font-size: 100px;
}

.separation {
    height: 10vh;
}

h2{
    font-family: 'Arial, Helvetica', sans-serif;
    color: #CEA068;
    font-size: xx-large;
}

/* Fin plat */

.textstyle{
    font-size: x-large;
    color: #CEA068;
}

#formulaire {
    
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.sendButton {
    background-color: #CEA068;
    color: white;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    width: 170px;

}

.sendButton:hover {
    background-color: #c5873a;
    color: white;
    border-radius: 2px;
    border: none;
    margin-top: 5px;
    cursor: pointer;

}

.margin {
    margin-top: 5%;
}

.productName {
    color: #CEA068;
    font-size: xx-large;
    text-align: center;
}

h1 {
    font-family: 'Italianno', "cursive";
    font-size: 50px;
    color: #CEA068;
    width: 100%;
    margin: 0px;
}


.containerPres {
    position: relative;
    text-align: center;
    color: white;

}

#presentation {
    font-family: 'Bellota Text', "cursive";
    color: white;
    font-size: 25px;
    text-align: justify;

}

.centeredText {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.imagePres {
    margin-top: 0px;
}

.marginTop{

        margin-top: 200px;
}

    .footerPosition {
        background-color: #CEA068;
        height: 18vh;
        width: 100%;
    
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    
        border: dashed;
    
        color: whitesmoke;
    }
    
    .footerPosition a {
        color: whitesmoke;
        text-decoration: none;
    }
    
    .footerPosition a:hover {
        background-color: #d6b184;
        text-decoration: underline 1px;
    }

.fontsizeA{
    font-size: 16px;
}
